@font-face {
  font-family: "XiangJiaoGuiPuLingGanTi";
  src: url("@/assets/font/XiangJiaoGuiPuLingGanTi-2.ttf");
}
@font-face {
  font-family: "YuWoErYanNiZuiKeAi-2";
  src: url("@/assets/font/YuWoErYanNiZuiKeAi-2.ttf");
}
