@font-face {
  font-family: "XiangJiaoGuiPuLingGanTi";
  src: url("@/styles/font/XiangJiaoGuiPuLingGanTi-2.ttf");
}
@font-face {
  font-family: "YuWoErYanNiZuiKeAi-2";
  src: url("@/styles/font/YuWoErYanNiZuiKeAi-2.ttf");
}

@font-face {
  font-family: "AaRenJianRenAiYouQianHua-2";
  src: url("@/styles/font/AaRenJianRenAiYouQianHua-2.ttf");
}
@font-face {
  font-family: "ZiHun144Hao-LangYuanTi-2";
  src: url("@/styles/font/ZiHun144Hao-LangYuanTi-2.ttf");
}